/* Styles3 go here. */

html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.ui {
	height: 25vw;
    width: 25vw;
    color: red;
    background-color: blue;
    position: absolute;
    top: 50%;
}